<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="'dialog'"
      mode="side"
      [opened]="true">
    <mat-toolbar class="logo-container">
      <div class="logo-wrapper">
        <img src="img/crm-logo.png" alt="Simple CRM Logo" class="logo">

      </div>
    </mat-toolbar>
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/user" routerLinkActive="active">
        <mat-icon matListItemIcon>people</mat-icon>
        <span matListItemTitle>User</span>
      </a>
      <a mat-list-item href="#">
        <mat-icon matListItemIcon>contact_page</mat-icon>
        <span matListItemTitle>Kontakte</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="top-title">
        <span>Simple CRM</span>
      </div>
    </mat-toolbar>
    
    <div class="router-content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>